/*=========================================
BASE
=========================================*/

body{

font-family:"Poppins",sans-serif;

background:var(--bg);

color:var(--text);

line-height:1.7;

}

::selection{

background:var(--primary);

color:white;

}

.container{

width:min(var(--container),90%);

margin:auto;

}

section{

position:relative;

padding:var(--section-padding) 0;

}