/*==============================
LOADER
==============================*/

#loader{

    position:fixed;

    inset:0;

    background:#050816;

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:999999;

    transition:opacity .8s ease,
               visibility .8s ease;

}

.loader-content{

    text-align:center;

}

.loader-content h1{

    font-size:4rem;

    font-weight:800;

    color:#fff;

    letter-spacing:4px;

}

.loader-content span{

    color:#3B82F6;

}

.loader-content p{

    margin-top:18px;

    color:#9CA3AF;

    letter-spacing:1px;

}

.loader-bar{

    width:260px;

    height:5px;

    background:rgba(255,255,255,.08);

    margin:40px auto 0;

    border-radius:50px;

    overflow:hidden;

}

.loader-bar span{

    display:block;

    width:0%;

    height:100%;

    background:#3B82F6;

    animation:loaderFill 2s linear forwards;

}

.loader-hide{

    opacity:0;

    visibility:hidden;

}

@keyframes loaderFill{

    from{

        width:0%;

    }

    to{

        width:100%;

    }

}